* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Tahoma", Helvetica, Arial, sans-serif;
  background: #ffffff;
  color: #000000;
}
